<div class="wrapper">
  <div class="paige__container">
    <div class="contacts__box">
      <h1 class="contacts_title">Контакты сотрудников</h1>
      <div class="contacts_personel">
        <h2 style="margin-bottom: 15px">Администраторы:</h2>
        <div class="managers">
          <div class="person">
            <p>Геккель Виктория:</p>
            <div class="person-data">
              <p class="contacts_text">
                <b>Телефон:</b> +79280214157
              </p>
              <p class="contacts_text">
                <b>Email:</b> gekkel@gmail.com
              </p>
            </div>
          </div>
          <div class="person">
            <p>Малинин Игорь:</p>
            <div class="person-data">
              <p class="contacts_text">
                <b>Телефон:</b> +79608223422
              </p>
              <p class="contacts_text">
                <b>Email:</b> igorswayts@gmail.com
              </p>
            </div>
          </div>
          <div class="person">
            <p>Маратов Серик:</p>
            <div class="person-data">
              <p class="contacts_text">
                <b>Телефон:</b> +79173939001
              </p>
              <p class="contacts_text">
                <b>Email:</b> serikssau@gmail.com
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="contacts_personel">
        <h2 style="margin-bottom: 15px">Главные менеджеры:</h2>
        <div class="managers">
          <div class="person">
            <p>Иванов Петр:</p>
            <div class="person-data">
              <p class="contacts_text">
                <b>Телефон:</b> +79602134457
              </p>
              <p class="contacts_text">
                <b>Email:</b> ivanovPetr@gmail.com
              </p>
            </div>
          </div>
          <div class="person">
            <p>Филатов Константин:</p>
            <div class="person-data">
              <p class="contacts_text">
                <b>Телефон:</b> +79603144567
              </p>
              <p class="contacts_text">
                <b>Email:</b> filatovK@gmail.com
              </p>
            </div>
          </div>
          <div class="person">
            <p>Рублев Антон:</p>
            <div class="person-data">
              <p class="contacts_text">
                <b>Телефон:</b> +79623144339
              </p>
              <p class="contacts_text">
                <b>Email:</b> rubA@gmail.com
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
