<!-- Header start -->
<header class="header">
  <div class="wrapper">
    <div class="header__wrapper">
      <div class="header__logo">
        <a href="/" class="header__logo-link">
          <img src="../assets/images/restaurantLogo.png" alt="Discover Amazing places in Japan" class="header__logo-pic">
        </a>
      </div>

      <nav class="header__nav">
        <ul class="header__list">
          <li class="header__item">
            <a [routerLink]="['/']" class="header__link">Главная</a>
          </li>
          <li class="header__item">
            <a [routerLink]="['/restaurants']" class="header__link">Выбор ресторана</a>
          </li>
          <li class="header__item">
            <a href="#!" class="header__link">Доставка</a>
          </li>
          <li class="header__item">
            <a [routerLink]="['/login']" class="header__link">Вход</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<!-- Header end -->

<router-outlet></router-outlet>
