<div class="wrapper">
  <div class="reg__client-form">
    <button class="btn btn-go-back" type="button" routerLink="/login">Назад</button>
    <form class="reg__form" [formGroup]="formUserReg" (ngSubmit)="submit()">
      <h1 class="reg__title">Регистрация нового пользователя</h1>

      <div class="reg__form-control">
        <input type="text" name="surname" class="reg__input" placeholder="Фамилия" formControlName="surname">
        <div
          *ngIf="formUserReg.get('surname')?.invalid && formUserReg.get('surname')?.touched"
          class="validation"
        >
          <small>Поле не может быть пустым</small>
        </div>
      </div>
      <div class="reg__form-control">
        <input type="text" name="cName" class="reg__input" placeholder="Имя" formControlName="name">
        <div
          *ngIf="formUserReg.get('name')?.invalid && formUserReg.get('name')?.touched"
          class="validation"
        >
          <small>Поле не может быть пустым</small>
        </div>
      </div>
      <div class="reg__form-control">
        <input type="text" name="telephone" class="reg__input" placeholder="Телефон" formControlName="telephone">
        <div
          *ngIf="formUserReg.get('telephone')?.invalid && formUserReg.get('telephone')?.touched"
          class="validation"
        >
          <small *ngIf="formUserReg.get('telephone')?.errors?.['required']">
            Поле не может быть пустым
          </small>
          <small *ngIf="formUserReg.get('telephone')?.hasError('minlength')">
            Введите телефон длиной {{formUserReg.get('telephone')?.errors?.['minlength'].requiredLength}} символов.
            Вы ввели {{formUserReg.get('telephone')?.errors?.['minlength'].actualLength}}.
          </small>
          <small *ngIf="formUserReg.get('telephone')?.hasError('maxlength')">
            Введите телефон длиной {{formUserReg.get('telephone')?.errors?.['maxlength'].requiredLength}} символов.
            Вы ввели {{formUserReg.get('telephone')?.errors?.['maxlength'].actualLength}}.
          </small>
        </div>
      </div>
      <div class="reg__form-control">
        <input type="text" name="address" class="reg__input" placeholder="Адрес" formControlName="address">
        <div
          *ngIf="formUserReg.get('address')?.invalid && formUserReg.get('address')?.touched"
          class="validation"
        >
          <small>Поле не может быть пустым</small>
        </div>
      </div>
<!--      <div class="reg__form-control">-->
<!--        <input type="text" name="email" class="reg__input" placeholder="E-mail" formControlName="email">-->
<!--        <div-->
<!--          *ngIf="formUserReg.get('email')?.invalid && formUserReg.get('email')?.touched"-->
<!--          class="validation"-->
<!--        >-->
<!--          <small *ngIf="formUserReg.get('email')?.errors?.['required']">-->
<!--            Поле не может быть пустым-->
<!--          </small>-->
<!--          <small *ngIf="formUserReg.get('email')?.errors?.['email']">-->
<!--            Введите корректный E-mail-->
<!--          </small>-->
<!--        </div>-->
<!--      </div>-->
      <div class="reg__form-control">
        <input type="text" name="password" class="reg__input" placeholder="Пароль" formControlName="password">
        <div
          *ngIf="formUserReg.get('password')?.invalid && formUserReg.get('password')?.touched"
          class="validation"
        >
          <small *ngIf="formUserReg.get('password')?.errors?.['required']">
            Поле не может быть пустым
          </small>
          <small *ngIf="formUserReg.get('password')?.hasError('minlength')">
            Введите пароль длиной хотя бы {{formUserReg.get('password')?.errors?.['minlength'].requiredLength}} символа
            Вы ввели {{formUserReg.get('password')?.errors?.['minlength'].actualLength}}
          </small>
          <small *ngIf="formUserReg.get('password')?.hasError('maxlength')">
            Введите пароль длиной не более {{formUserReg.get('password')?.errors?.['maxlength'].requiredLength}} символов
            Вы ввели {{formUserReg.get('password')?.errors?.['maxlength'].actualLength}}
          </small>
        </div>
      </div>
      <div class="reg__form-control">
        <input type="text" name="passwordRepeat" class="reg__input" placeholder="Повторите пароль" formControlName="passwordRepeat">
        <div
          *ngIf="formUserReg.get('passwordRepeat')?.invalid && formUserReg.get('passwordRepeat')?.touched"
          class="validation"
        >
          <small *ngIf="formUserReg.get('passwordRepeat')?.value == ''">
            Поле не может быть пустым
          </small>
          <small *ngIf="!formUserReg.get('passwordRepeat')?.errors?.['mismatch']">
            Пароль не совпадает
          </small>
        </div>
      </div>
      <button class="btn reg__btn" type="submit" [disabled]="formUserReg.invalid">Зарегистрировать</button>
<!--      <button class="btn" type="button" (click)="showCon()">show</button>-->

    </form>
  </div>
</div>
