<!--<div class="wrapper">-->
  <div class="restaurant__container">
    <div class="restaurant__info">
      <section class="intro" [style]="{'background-image': 'url(' + restaurant.wallpaperURL +')'}">
        <div class="wrapper">
          <div class="intro-background">
            <div class="label-input-flex" *ngIf="editToggle">
              <label class="edit__label">Изображение</label>
              <input type="text" class="edit__input edit-wallpaperURL" placeholder="Изображение" [value]="restaurant.wallpaperURL">
            </div>
            <div class="title-with-btn-edit">
              <h1 class="intro__title" *ngIf="!editToggle">
                {{restaurant.restaurantName}}
              </h1>
              <input type="text" class="edit__input edit-title"placeholder="Название" [value]="restaurant.restaurantName" *ngIf="editToggle">
              <button type="button" class="btn btn-edit" *ngIf="role == 'admin'" (click)="editToggle = !editToggle">
                <small *ngIf="!editToggle">Редактировать информацию</small>
                <small *ngIf="editToggle">Отменить</small>
              </button>
<!--              <button type="button" class="btn btn-edit" *ngIf="role == 'admin'" (click)="showInfo()">показать</button>-->
            </div>
            <p class="intro__subtitle" *ngIf="!editToggle">
              {{restaurant.description}}
            </p>
            <input type="text" class="edit__input" placeholder="Описание" [value]="restaurant.description" *ngIf="editToggle">
          </div>
        </div>
      </section>

      <div *ngIf="currentDishes.length != 0 || currentDrinks.length != 0; else inDev">
        <section class="menus">
          <div class="restaurants__wrap">
            <h2 class="restaurants__title">
              Добро пожаловать в ресторан {{restaurant.restaurantName}}
            </h2>
            <div class="restaurant__menu">
              <h1 class="menu__title">Меню блюд</h1>
<!--              <button class="btn" (click)="sortedDishes = currentDishes">SHOW ALL</button>-->
              <div class="menu__categories-container">
                <button type="button" class="btn" *ngFor="let dishCategory of dishCategories()" (click)="sortDishes(dishCategory)">{{dishCategory}}</button>
              </div>
              <div class="menu__dish-drink-cards">
                <div class="menu__dish-drink-card" *ngIf="!editToggle">
                  <ul class="menu__dish-drink-list" *ngFor="let dish of sortedDishes; let i = index">
                    <li class="item-title">{{dish.name}}</li>
                    <li class="item-title">{{dish.category}}</li>
                    <li class="item-title">{{dish.description}}</li>
                    <li><b>Цена: </b>{{dish.price}}</li>
                    <li><b>Вес: </b>{{dish.weight}}</li>
                    <li class="last-item"><b>Калории: </b>{{dish.calories}}</li>
                    <li class="inc-dec__item">
                      <button type="button" class="btn btn-inc-dec" [disabled]="getSortedDishes()[i].amount == 0" (click)="decValDish(i)">-</button>
                      <input class="input-to-basket" type="text" [(ngModel)]="sortedDishes[i].amount">
                      <button type="button" class="btn btn-inc-dec" (click)="incValDish(i)">+</button>
                    </li>
                    <li><button type="button" class="btn btn-to-basket" (click)="addToDishBasket(dish)">В корзину</button></li>
                  </ul>
                </div>
                <div class="menu__dish-drink-card" *ngIf="editToggle">
                  <ul class="menu__dish-drink-list" *ngFor="let dish of getSortedDishes(); let i = index">
                    <li class="item-title"><input type="text" class="edit__input" placeholder="Название" [value]="dish.name"></li>
                    <li class="item-title"><input type="text" class="edit__input" placeholder="Описание" [value]="dish.description"></li>
                    <li><b>Цена: </b><input type="text" class="edit__input" placeholder="Цена" [value]="dish.price"></li>
                    <li><b>Вес: </b><input type="text" class="edit__input" placeholder="Вес" [value]="dish.weight"></li>
                    <li class="last-item"><b>Калории: </b><input type="text" class="edit__input" placeholder="Калории" [value]="dish.calories"></li>
                    <li class="inc-dec__item">
                      <button type="button" class="btn btn-inc-dec" [disabled]="getSortedDishes()[i].amount == 0" (click)="decValDish(i)">-</button>
                      <input class="input-to-basket" type="text" [(ngModel)]="sortedDishes[i].amount">
                      <button type="button" class="btn btn-inc-dec" (click)="incValDish(i)">+</button>
                    </li>
                    <li><button type="button" class="btn btn-to-basket" (click)="addToDishBasket(dish)">В корзину</button></li>
                  </ul>
                </div>
              </div>
              <button class="btn" *ngIf="role == 'admin'" (click)="addDishToggle = !addDishToggle" style="margin-top: 20px">
                <small *ngIf="!addDishToggle">Добавить блюдо</small>
                <small *ngIf="addDishToggle">Отменить</small>
              </button>

              <div class="add-dish-drink-field" *ngIf="addDishToggle">
                <div class="new-dish-drink-flex-inputs" [formGroup]="dishForm">
                  <div class="create__form-control">
                    <input type="text" class="create__input" placeholder="Название" formControlName="name">
                    <div
                      *ngIf="dishForm.get('name')?.invalid && dishForm.get('name')?.touched"
                      class="validation"
                    >
                      <small>Заполните поле</small>
                    </div>
                  </div>
                  <div class="create__form-control">
                    <input type="text" class="create__input" placeholder="Категория блюда" formControlName="category">
                    <div
                      *ngIf="dishForm.get('category')?.invalid && dishForm.get('category')?.touched"
                      class="validation"
                    >
                      <small>Заполните поле</small>
                    </div>
                  </div>
                  <div class="create__form-control">
                    <input type="text" class="create__input" placeholder="Описание блюда" formControlName="description">
                    <div
                      *ngIf="dishForm.get('description')?.invalid && dishForm.get('description')?.touched"
                      class="validation"
                    >
                      <small>Заполните поле</small>
                    </div>
                  </div>
                  <div class="create__form-control">
                    <input type="text" class="create__input" placeholder="Цена" formControlName="price">
                    <div
                      *ngIf="dishForm.get('price')?.invalid && dishForm.get('price')?.touched"
                      class="validation"
                    >
                      <small>Заполните поле</small>
                    </div>
                  </div>
                  <div class="create__form-control">
                    <input type="text" class="create__input" placeholder="Вес" formControlName="weight">
                    <div
                      *ngIf="dishForm.get('weight')?.invalid && dishForm.get('weight')?.touched"
                      class="validation"
                    >
                      <small>Заполните поле</small>
                    </div>
                  </div>
                  <div class="create__form-control">
                    <input type="text" class="create__input" placeholder="Калорийность" formControlName="calories">
                    <div
                      *ngIf="dishForm.get('calories')?.invalid && dishForm.get('calories')?.touched"
                      class="validation"
                    >
                      <small>Заполните поле</small>
                    </div>
                  </div>

                  <button type="submit" class="btn btn-add" (click)="submit()" [disabled]="dishForm.invalid">Добавить</button>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="menus">
          <div class="restaurants__wrap" style="
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;">
            <div class="restaurant__menu">
              <h1 class="menu__title" style="margin-top: 40px">Меню напитков</h1>
              <div class="menu__categories-container">
                <button type="button" class="btn" *ngFor="let drinkCategory of drinkCategories()" (click)="sortDrinks(drinkCategory)">{{drinkCategory}}</button>
              </div>
              <div class="menu__dish-drink-cards">
                <div class="menu__dish-drink-card" *ngIf="!editToggle">
                  <ul class="menu__dish-drink-list" *ngFor="let drink of sortedDrinks; let j = index">
                    <li class="item-title">{{drink.name}}</li>
                    <li>{{drink.category}}</li>
                    <li><b>Описание: </b>{{drink.description}}</li>
                    <li><b>Цена: </b>{{drink.price}}</li>
                    <li><b>Объем: </b>{{drink.volume}}</li>
                    <li class="last-item"><b>Цена за бутылку: </b>{{drink.priceOfBottle}}</li>
                    <li class="inc-dec__item">
                      <button type="button" class="btn btn-inc-dec" [disabled]="sortedDrinks[j].amount == 0" (click)="decValDrink(j)">-</button>
                      <input class="input-to-basket" type="text" [(ngModel)]="sortedDrinks[j].amount">
                      <button type="button" class="btn btn-inc-dec" (click)="incValDrink(j)">+</button>
                    </li>
                    <li><button type="button" class="btn btn-to-basket" (click)="addToDrinkBasket(drink)">В корзину</button></li>
                  </ul>
                </div>
                <div class="menu__dish-drink-card" *ngIf="editToggle">
                  <ul class="menu__dish-drink-list" *ngFor="let drink of sortedDrinks; let j = index">
                    <li class="item-title"><input type="text" class="edit__input" placeholder="Название" [value]="drink.name"></li>
                    <li><b>Описание: </b><input type="text" class="edit__input" placeholder="Описание" [value]="drink.description"></li>
                    <li><b>Цена: </b><input type="text" class="edit__input" placeholder="Цена" [value]="drink.price"></li>
                    <li><b>Объем: </b><input type="text" class="edit__input" placeholder="Объем" [value]="drink.volume"></li>
                    <li class="last-item"><b>Цена за бутылку: </b><input type="text" class="edit__input" placeholder="Цена за бутылку" [value]="drink.priceOfBottle"></li>
                    <li class="inc-dec__item">
                      <button class="btn btn-inc-dec" type="button" [disabled]="sortedDrinks[j].amount == 0" (click)="decValDrink(j)">-</button>
                      <input class="input-to-basket" type="text" [(ngModel)]="sortedDrinks[j].amount">
                      <button class="btn btn-inc-dec" type="button" (click)="incValDrink(j)">+</button>
                    </li>
                    <li><button class="btn btn-to-basket" (click)="addToDrinkBasket(drink)">В корзину</button></li>
                  </ul>
                </div>
              </div>
              <button class="btn" *ngIf="role == 'admin'" (click)="addDrinkToggle = !addDrinkToggle" style="margin-top: 20px">
                <small *ngIf="!addDrinkToggle">Добавить напиток</small>
                <small *ngIf="addDrinkToggle">Отменить</small>
              </button>
              <div class="add-dish-drink-field" *ngIf="addDrinkToggle">
                <div class="new-dish-drink-flex-inputs" [formGroup]="drinkForm">
                  <div class="create__form-control">
                    <input formControlName="name" placeholder="Название напитка" class="create__input">
                    <div
                      *ngIf="dishForm.get('name')?.invalid && dishForm.get('name')?.touched"
                      class="validation"
                    >
                      <small>Заполните поле</small>
                    </div>
                  </div>
                  <div class="create__form-control">
                    <input formControlName="category" placeholder="Категория напитка" class="create__input">
                    <div
                      *ngIf="dishForm.get('category')?.invalid && dishForm.get('category')?.touched"
                      class="validation"
                    >
                      <small>Заполните поле</small>
                    </div>
                  </div>
                  <div class="create__form-control">
                    <input formControlName="description" placeholder="Описание напитка" class="create__input">
                    <div
                      *ngIf="dishForm.get('description')?.invalid && dishForm.get('description')?.touched"
                      class="validation"
                    >
                      <small>Заполните поле</small>
                    </div>
                  </div>
                  <div class="create__form-control">
                    <input formControlName="price" placeholder="Цена напитка" class="create__input">
                    <div
                      *ngIf="dishForm.get('price')?.invalid && dishForm.get('price')?.touched"
                      class="validation"
                    >
                      <small>Заполните поле</small>
                    </div>
                  </div>
                  <div class="create__form-control">
                    <input formControlName="volume" placeholder="Объем" class="create__input">
                    <div
                      *ngIf="dishForm.get('volume')?.invalid && dishForm.get('volume')?.touched"
                      class="validation"
                    >
                      <small>Заполните поле</small>
                    </div>
                  </div>
                  <div class="create__form-control">
                    <input formControlName="priceOfBottle" placeholder="Цена бутылки" class="create__input">
                    <div
                      *ngIf="dishForm.get('priceOfBottle')?.invalid && dishForm.get('priceOfBottle')?.touched"
                      class="validation"
                    >
                      <small>Заполните поле</small>
                    </div>
                  </div>
                  <button class="btn" type="submit" [disabled]="drinkForm.invalid">Добавить</button>

                </div>
              </div>
            </div>
          </div>
        </section>
      </div>

      <ng-template #inDev>
        <section class="menus">
          <div class="restaurants__wrap">
            <h2 class="restaurants__title">
              Добро пожаловать в ресторан {{restaurant.restaurantName}}
            </h2>
            <div class="restaurant__menu">
              <h1 class="menu__title">В разработке</h1>
            </div>
          </div>
        </section>
      </ng-template>


    </div>
  </div>
<!--</div>-->
