
<main class="main">
  <!-- Intro start -->
  <section class="intro">
    <div class="wrapper">
      <div class="intro-background">
        <h1 class="intro__title">
          Рестораны всех кухонь мира
        </h1>
        <p class="intro__subtitle">
          В нашей сети ресторанов VIS, Вы, можете попробовать блюда русской, американской, грузинской, итальянской, японской и китайской кухни
        </p>
      </div>
    </div>
  </section>
  <!-- Intro end -->

  <!-- restaurants start -->
  <section class="restaurants">
    <div class="restaurants__wrap">
      <h2 class="restaurants__title">
        Добро пожаловать в VIS
      </h2>
      <div class="restaurants__cards">
        <div class="restaurants__card" *ngFor="let rest of restaurantsService.restaurants">
          <div class="restaurants__card-pic">
            <img src="{{rest.icon}}" alt="Welcome to Odigo!" class="restaurants__card-thumb">
          </div>
          <h3 class="restaurants__card-title">
            {{rest.restaurantName}}
          </h3>
          <p class="restaurants__card-desc">
            {{rest.description}}
          </p>
          <a class="restaurants__card-more" [routerLink]="['/restaurants/', rest.id]">
            Подробнее
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- restaurants end -->

</main>
